application/server/node_modules
application/server/package-lock.json
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/env-variables.tf
